body, button, h1 {
    font-family: 'Goldman', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

#editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 40px);
    grid-template-rows: repeat(100, 40px);
    gap: 1px;
    margin: 20px 0;
    background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
    background-size: 40px 40px;
    transform-origin: 0 0;
}

.tile {
    width: 40px;
    height: 40px;
    background-color: #444;
    border: 1px solid #333;
    cursor: pointer;
}

button {
    background-color: #ff9800;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #e68900;
}

.button-secondary {
    background-color: #00bcd4;
    color: #000000;
}

.button-secondary:hover {
    background-color: #00a2b3;
}
